<%
  key = @service_request.request_data.fetch 'key' , 'unknown'
  val = @service_request.request_data.fetch 'val' , 'unknown'
%>
<p>
  Requested Change: Update configuration
  <br />
  Key: <%= key %>
  <br />
  New Value: <%= val %>
</p>
