<%
  public_key = @service_request.request_data.fetch 'public_key' , 'unknown'
%>
<p>
  Requested Change: Add new public key to server SSH authorized keys
  <br />
  <br />
  Public Key:
  <br />
  <%= public_key %>
</p>
