<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <ul>
      <li>
        Email: <%= @user.email %>
      </li>
      <li>
        Environment: <%= Rails.env %>
      </li>
    </ul>

    <p>
      Just reply to this email to offer them an e-high-five!
    </p>
  </body>
</html>

