<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <p>
      Our apologies, but we were unable to boot a <%= instance_name(@instance) %> server for you at this time. Please reach out to us directly by replying to this email.
    </p>

    <p>
      Thanks for your patience as we figure out what went wrong!
    </p>

    <p>
      GridKick Team
    </p>
  </body>
</html>
