<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <p>
      You have expired your <%= instance_name(@instance) %> server <%= @info_str %>.
    </p>

    <p>
      You are free to continue provisioning new instances up to the amount allowed in your plan.
    </p>

    <p>
      Thanks for using GridKick!
    </p>

    <p>
      GridKick Team
    </p>
  </body>
</html>
